@import "tailwindcss";

@theme inline {
  --color-primary: #1e3a8a;
  --color-secondary: #1d4ed8;
  --color-accent: #7dd3fc;
  --color-white: #f7faff;
  --color-offwhite: #e6f0fa;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
